*{
	padding: 0px;
	margin: 0px;
	font-family: 'Nunito', sans-serif
}
.wrapper{
	height: 700px;
	background: #efefef;
	background-image: url('../images/bg.jpg');
	background-size: cover;
}
.header{
	height: 60px;
	background: #0074e4;
}
.box{
	width: 650px;
	height: 350px;
	border: 1px solid black;
	margin: auto;
	background: #F2F2F2;
	border-radius: 10px;
}
.title{
	color: #444444;
	padding: 10px;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 20px;
}
.header img{
	margin-top: 10px;
	margin-left: 350px
}